<h1>新規作成</h1>
<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @article, local: true do |f| %>
<%# フォームはリファクタリングしたほうがきれいにかけそう %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit '作成' %>
<% end %>
