<%= form_with url: search_articles_path, local: true do |f| %>
  <%= f.text_field :title, placeholder: 'タイトル' %>
  <%= f.submit '検索' %>
<% end %>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>PV数</th>
    <th>ライター</th>
    <th></th>
    <th></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article.id) %></td>
      <td><%= article.body.html_safe %></td>
      <td><%= '#{article.pv}pv' %></td>
      <td><%= article.user.name %></td>
      <% if article.user == current_user %>
        <td><%= link_to "編集", edit_article_path(article.id) %></td>
        <td><%= link_to '削除', article_path(article.id), data: { confirm: "#{article.title}を削除しますか？" } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
